# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

## Build
build/
DerivedData/
.build/

## User settings
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
Package.resolved

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# XcodeGen
project.yml
